<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="temp.boardMapper">
	<select id="getABoard" resultType="board">
		SELECT * FROM board WHERE b_num = #{b_num}
	</select>
	<select id="getBoards" resultType="board">
		SELECT * FROM board
	</select>
	<insert id="insertBoard">
		INSERT INTO board (b_title, b_content, b_count, b_password, m_id) VALUES (#{b_title}, #{b_content}, 0, #{b_password}, #{m_id})
	</insert>
	<update id="updatePassword" >
		UPDATE board SET b_password = #{newPassword} WHERE b_num = #{b_num} 		
	</update>
	<update id="updateCountValue" >
		UPDATE board SET b_count = #{countValue} WHERE b_num = #{b_num}
	</update>
</mapper>